body{
    margin:0 ;
    padding: 0;
}

#game{
    width: 600px;
    height: 200px;
    border: 1px solid black;
}
#score{
    font: 1em sans-serif;
    left: 560px;
    bottom: 50px;
    position: relative;
}
#highscore{
    font: 1em sans-serif;
    left: 320x;
    bottom: 69px;
    padding-left: 1em;
    position: relative;
}
#character{
    height: 50px;
    width: 20px;
    background-color: black;
    position: relative;
    top: 150px;
}
.animate{
    animation: jump 500ms ease-in-out;
}
#block{
    width: 20px;
    height: 20px;
    background-color: brown;
    position: relative;
    top: 130px;
    left: 580px;
    animation: block 1s infinite linear;
}
@keyframes block {
    0%{left: 580px;}
    100%{left:-40px}
}
@keyframes jump{
    0%{top: 150px}
    30%{top: 100px}
    70%{top: 100px}
    100%{top: 150px}
}